* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    background-color: lightslategrey;
    padding: 10px;
}

.container {

    width: 900px;
    max-width: 900px;
    margin: 0 auto;
    height: 800px;
    background-color: red;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}

.green {
    background-color: chartreuse;
    height: 32.3333%;
    width: 100%;
    margin: 0 0 10px;
    display: flex;
    padding: 10px;


}

.yellow {
    background-color: yellow;
    height: 100%;
    width: 25%;
    margin-right: 10px;
}

.yellow:last-child {
    margin-right: 0;
}

.pink {
    background-color: pink;
    height: 100%;
    width: 40%;

}

.pink1 {
    margin-left: 10px;
    background-color: pink;
    height: 100%;
    width: 60%;
}


.blue {
    background-color: blue;
    height: 100%;
    width: 50%;
    padding: 10px;
    margin-right: 10px;
}

.blue:last-child {
    margin-right: 0;
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 500px;
        max-height: 800px;
    }

    .green {

        margin: 0 0;
        display: flex;

        flex-wrap: wrap;
    }

    .blue {
        height: 50%;
        width: 100%;
        margin: 0 0 10px auto;


    }


    .pink {
        height: 50%;
        width: 100%;
        margin-right: 0;
    }

    .pink1 {
        height: 50%;
        width: 100%;
        margin: 10px auto;

    }

    .media {
        background-color: chartreuse;
        height: 32.3333%;
        width: 100%;
        display: flex;
  

    }

    .yellow {
        height: 46%;
        width: 47%;
        margin: 5px 5px 5px 5px;

    }
}


